@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: rgb(224, 215, 226);
  color: #0b0a15;

}

:root{
        --cor-de-fundo: #f5f0f7;
        --verde: #ae57ff;
        --branco: #8f2389;
        --botao-ativo: #49438b;
        --botao-inativo: rgba(58, 55, 94, 0.5);
        --texto-fundo: rgba(58, 55, 94, 0.3);
        --texto-botao:#be66ba;
}

.conteudo-principal{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.conteudo-principal span{
  color:#8f2389
}

.botao{
  font-size: 18px;
  background-color: var(--botao-inativo);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--branco);
  width: 100%;
  border-bottom: 4px solid var(--botao-ativo);
  border-left: 2x solid var(--botao-ativo);
  border-right: 2x solid var(--botao-ativo);
  border-top: none;
}

.botoes{
  display: block;
}
 .botao:first-child{
  border-radius: 40px 40px 0 0;
 }

.botao.ativo{
  background-color: var(--botao-ativo);
  border-bottom: 4px solid var(--verde);
}
.aba-conteudo.ativo{
  display: block;
}

.aba-conteudo{
  display: none;
}
.ativo{
  background-color: var(--botao-ativo);
  border-bottom: 4px solid var(var(--verde))
}

.abas-textos{
   background: #b192ce;
   padding: 40px;
   border-radius: 0 0 40px 40px;
}
.aba-conteudo{
  text-align: center;
  font-size: 28px;
}

.aba-conteudo-titulo-secundario{
  color: var(--verde);
  text-transform: uppercase;
}

@media screen and (min-width: 768px){
  .botoes{
  display: flex;
  }
  .botao:first-child{
    border-radius: 40px 0px 0 0;
  }

.botao:last-child{
    border-radius: 0px 40px 0 0;
}
}
