@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')

body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

:root{
        --cor-de-fundo: #1E1E1E;
        --verde: #ae57ff;
        --branco: #8f2389;
        --botao-ativo: #49438b;
        --botao-inativo: rgba(58, 55, 94, 0.5);
        --texto-fundo: rgba(58, 55, 94, 0.3);
}

.conteudo-principal{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.conteudo-principal span{
  color:#8f2389
}

.botao{
  font-size: 18px;
  background-color: var(--botao-inativo);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--branco);
  width: 100%;
  border-bottom: 4px solid var(--botao-ativo);
  border-left: 2x solid var(--botao-ativo);
  border-right: 2x solid var(--botao-ativo);
  border-top: none;
}

.botoes{
  display: block;
}
 .botao:first-child{
  border-radius: 40px 40px 0 0;
 }

 .ativo{
  background-color: var(--botao-ativo);
  border-bottom: 4px solid var(var(--verde))
}


@media screen and (min-width: 768px){
  .botoes{
  display: flex;
  }
  .botao:first-child{
    border-radius: 40px 0px 0 0;
  }

.botao:last-child{
    border-radius: 0px 40px 0 0;
}
}